<% include ../partials/header %>


    <div class="container">
        <div class="row justify-content-center">
           <div class="card mb-4 border-light bg-opacity user-profile">
            <div class="">
                <h1>
                    <%= user.firstName + " " + user.lastName %>
                </h1>
                <div class="col-md-8">
                    <img class="user-pic"  src="<%= user.avatar %>" onerror="this.onerror=null;this.src='https://i.ibb.co/7NQzSX8/Bar-Profile2.jpg';" alt="user profile picture">

                    <div class="caption user-email">
                        <a href="mailto:<%= user.email %>">
                            <%= user.email %>
                        </a>
                    </div>
                    <hr>

                </div>
                <div class="user-about">
                    <h4 class="card-title"> About </h4>
                    <p class="card-text"> <%= user.about %> </p>

                        <div class="edit-button">
                            <% if(currentUser && user._id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>

                                <a class="btn btn-warning" href="/users/<%= user._id %>/edit">Edit</a>

                                <% } %>
                        </div>

                </div>
                
            </div>
            </div>
            
            <div class="col-md-4">
                <h3 class="user-bars">
                    <%= user.username %>'s bars:</h3>
                <ul>
                    <% bar.forEach(function(bar) { %>
                        <li>
                            <a href="/bars/<%= bar.id %>">
                                <%= bar.name %>
                            </a>
                        </li>
                        <% }) %>
                </ul>
            </div>
              
        </div>
<a href="/bars"> Go Back </a>
</div>

        <% include ../partials/footer %>